/* GENERAL */
:root {
    --bg-prim-color: #202124;
    --bg-sec-color: #303134;
    --bg-thir-color: #252525;

    --letter-prim-color: #b7bbc0;
    --letter-light-color: white;
    --letter-dark-color: #222;
    --border: 1px solid #6b6e74;

    --color-warning: #42526e;
    --color-success: #5bc0de;
    --color-error: #d03610;

    --border-radius-lg: 10px;
    --border-radius-sm: 5px;

    --margin-lg: 50px 0;
    --margin-sm: 25px 0;
    --margin-x-sm: 15px 0;

    --padding-x-sm: 15px;
    --padding-lg: 50px 25px;
    --padding-y-lg: 50px 0;
    --padding-sm: 25px 0;

    --transition: all 300ms;

}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.material-symbols-outlined {
    display: block;
    margin: 0;
    padding: 0;
    line-height: -10px;
}

html,
body {
    background-color: var(--bg-prim-color);
    color: var(--letter-prim-color);
}

a, label, input, textarea {
    color: var(--letter-prim-color);
   
}

header {
    height: 70px;
    line-height: 70px;
    border-bottom: var(--border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-prim-color);
}

header ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

header p {
    margin: 0 25px;
    font-weight: 600;
    font-size: 1.5rem;
}

header span {
    display: none;
    line-height: 70px;
    position: absolute;
    right: 25px;
    top: 5px;
    padding: 20px;
    cursor: pointer;
    transition: var(--transition);
}

header span:hover, 
input:focus, textarea:focus,
footer ul li a:hover
 {
    color: var(--letter-light-color)
}

footer {
    width: 100%;
    height: 70px;
    padding: 0 25px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--border)
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    font-size: 1.4rem;
    margin: 5px 0 0 0;
}

/* PRINCIPAL CONTAINER */

.container {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-prim-color);
    min-height: 80vh;
}

.content {
    margin: var(--margin-sm);
    border: var(--border);
    border-radius: var(--border-radius-lg);
    width: 60%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding-lg);
}

.content p {
    font-size: 1.5rem;
}

/* INICIO */

.main-content {
    margin: var(--margin-lg);
    border-radius: var(--border-radius-sm);
    width: 70%;
    border: var(--border);

}

/* HOME */

.home {
    padding: var(--padding-lg);
}

.home ul li {
    background-color: var(--bg-sec-color);

}

.home ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--padding-x-sm);
    margin: var(--margin-x-sm);
    border-radius: var(--border-radius-sm);
    
    transition: var(--transition);

}
.home ul li a:hover {
    background-color: var(--bg-thir-color);
    color: var(--letter-light-color);
}

/* SUBMIT ACCOUNT */

.form-box {
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
    text-align: center;
}

.form-box form {
    margin: var(--margin-sm);
    display: flex;
    flex-direction: column;
}

.form-box form label {
    justify-self: flex-end;
    align-self: flex-start;
    margin: 25px 0 5px 0;
}

.form-box form input,
.form-box form textarea {
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-sec-color);
    border: var(--border);
    padding: var(--padding-x-sm);
}

.form-box .submit {
    background-color: var(--color-warning);
    color: var(--letter-light-color);
    margin: 25px 0 0 0;
}

/* SHOW-ACCOUNTS */

.account-box {
    padding: var(--padding-lg);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.account-bg {
    background-color: var(--bg-sec-color);
}

.account-box .account-info {
    text-align: start;
}

.account-box .account-info p {
    font-size: 1.2rem;
}

.account-box .account-option {
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.account-option a {
    padding: 5px;
    transition: var(--transition);
}

.account-option a:hover {
    color: var(--letter-light-color)
}

/* SHOW A ACCOUNT */

.account-information {
    padding: var(--padding-lg);
    text-align: start;
}

.account-information p {
    font-size: 1.2rem;
    margin: var(--margin-x-smx-sm);
}

/* ALERTS */

.alert {
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0;
    padding: 10px;
}

.alert p,
.alert a {
    color: var(--letter-light-color);
}

.alert-success {
    background-color: var(--color-warning);
}

.alert-error {
    background-color: var(--color-error);
}

@media (max-width: 1100px) {
    header ul, header p {
        font-size: 1rem;
    }

    header ul {
        width: 60%;
    }

    .content h1 {
        font-size: 1.4rem;
    }

    .content {
        font-size: .9rem;
    }

    .content p {
        font-size: .9rem;
    }
}

@media (max-width: 1020px) {
    header ul {
        width: 65%;
    }

    .content {
        width: 80%;
    }

    .main-content {
        width: 70%;
    }
}

@media (max-width: 800px) {
    header p {
        font-size: .9rem;
    }
    
    header ul {
        width: 70%;
    }

    .content {
        width: 90%;
    }
}

@media(max-width: 720px) {
    header span {
        display: flex;
    }

    header ul {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-prim-color);
    }

    header ul li {
        text-align: center;
        width: 100%;
        border-bottom: var(--border);
    }

    header ul li a {
        width: 100%;
        height: 100%;
        display: block;
    }

    header ul li a:hover {
        background-color: var(--bg-sec-color);
        color: var(--letter-light-color);
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
}